# ProyectoCritpo_G3 - dependencias del notebook
# Recomendado: Python 3.10 o 3.11

# Deep learning con pytorch
--index-url https://download.pytorch.org/whl/cu126
torch
torchvision
torchaudio
torchinfo


# Procesamiento numérico e imágenes
numpy
opencv-python
Pillow

# Visualización
matplotlib
seaborn

# Métricas de imagen y evaluación
scikit-image
scikit-learn

# Ejecución del notebook dentro del ambiente virtual
jupyterlab
ipykernel
